<a href="https://colab.research.google.com/github/holiz12/Analysing-Pokemon-Data-with-Pandas/blob/master/Python_Pandas_with_Pokemon_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load the Pokemon dataframe into pandas

In [5]:
import pandas as pd

url = 'https://raw.githubusercontent.com/holiz12/Analysing-Pokemon-Data-with-Pandas/master/Pokemon%20Data%20with%20stats%20and%20types/Pokemon.csv'
df = pd.read_csv(url)

print(df)

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [6]:
#Read headers

df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [10]:
#Read name column

print(df[['Name', 'Type 1', 'HP']])

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

Describing/Sorting Data

In [11]:
df.describe()

                #      Total          HP  ...     Sp. Def       Speed  Generation
count  800.000000  800.00000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750  435.10250   69.258750  ...   71.902500   68.277500     3.32375
std    208.343798  119.96304   25.534669  ...   27.828916   29.060474     1.66129
min      1.000000  180.00000    1.000000  ...   20.000000    5.000000     1.00000
25%    184.750000  330.00000   50.000000  ...   50.000000   45.000000     2.00000
50%    364.500000  450.00000   65.000000  ...   70.000000   65.000000     3.00000
75%    539.250000  515.00000   80.000000  ...   90.000000   90.000000     5.00000
max    721.000000  780.00000  255.000000  ...  230.000000  180.000000     6.00000

[8 rows x 9 columns]

In [12]:
df.sort_values('Name')

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 13 columns]

Making changes to the data

In [30]:
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df['Total'] = df.iloc[:,4:10].sum(axis=1)

#df = df.drop(columns=['Total'])

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head(5)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [38]:
df.to_csv('modified.csv', index=False)

df.to_excel('modified.xlsx', index=False)

df.to_csv('modified.txt', index=False, sep='\t')

Filtering Data

In [58]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

#df.loc[~df['Name'].str.contains('Mega')]

#new_df.to_csv('filtered.csv')

new_df = new_df.reset_index(drop=True)

new_df

     #                   Name Type 1  ... Speed  Generation  Legendary
0    3               Venusaur  Grass  ...    80           1      False
1    3  VenusaurMega Venusaur  Grass  ...    80           1      False
2   45              Vileplume  Grass  ...    50           1      False
3   71             Victreebel  Grass  ...    70           1      False
4  591              Amoonguss  Grass  ...    30           5      False

[5 rows x 13 columns]

In [61]:
import re

df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
4      4             Charmander   Fire  ...    65           1      False
..   ...                    ...    ...  ...   ...         ...        ...
735  667                 Litleo   Fire  ...    72           6      False
736  668                 Pyroar   Fire  ...   106           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False
799  721              Volcanion   Fire  ...    70           6       True

[122 rows x 13 columns]

In [68]:
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'

df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [69]:
df = pd.read_csv('modified.csv')

df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [73]:
df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

                   #       Total         HP  ...       Speed  Generation  Legendary
Type 1                                       ...
Dragon    474.375000  550.531250  83.312500  ...   83.031250    3.875000   0.375000
Fighting  363.851852  416.444444  69.851852  ...   66.074074    3.370370   0.000000
Ground    356.281250  437.500000  73.781250  ...   63.906250    3.156250   0.125000
Rock      392.727273  453.750000  65.363636  ...   55.909091    3.454545   0.090909
Steel     442.851852  487.703704  65.222222  ...   55.259259    3.851852   0.148148
Dark      461.354839  445.741935  66.806452  ...   76.161290    4.032258   0.064516
Fire      327.403846  458.076923  69.903846  ...   74.442308    3.211538   0.096154
Flying    677.750000  485.000000  70.750000  ...  102.500000    5.500000   0.500000
Poison    251.785714  399.142857  67.250000  ...   63.571429    2.535714   0.000000
Water     303.089286  430.455357  72.062500  ...   65.964286    2.857143   0.035714
Ghost     486.500000  439.562500  64.437500  ...   64.343750    4.187500   0.062500
Normal    319.173469  401.683673  77.275510  ...   71.551020    3.051020   0.020408
Grass     344.871429  421.142857  67.271429  ...   61.928571    3.357143   0.042857
Ice       423.541667  433.458333  72.000000  ...   63.458333    3.541667   0.083333
Psychic   380.807018  475.947368  70.631579  ...   81.491228    3.385965   0.245614
Bug       334.492754  378.927536  56.884058  ...   61.681159    3.217391   0.000000
Electric  363.500000  443.409091  59.795455  ...   84.500000    3.272727   0.090909
Fairy     449.529412  413.176471  74.117647  ...   48.588235    4.117647   0.058824

[18 rows x 10 columns]

In [76]:
df.groupby(['Type 1']).count()

            #  Name  Type 2  Total  ...  Sp. Def  Speed  Generation  Legendary
Type 1                              ...
Bug        69    69      52     69  ...       69     69          69         69
Dark       31    31      21     31  ...       31     31          31         31
Dragon     32    32      21     32  ...       32     32          32         32
Electric   44    44      17     44  ...       44     44          44         44
Fairy      17    17       2     17  ...       17     17          17         17
Fighting   27    27       7     27  ...       27     27          27         27
Fire       52    52      24     52  ...       52     52          52         52
Flying      4     4       2      4  ...        4      4           4          4
Ghost      32    32      22     32  ...       32     32          32         32
Grass      70    70      37     70  ...       70     70          70         70
Ground     32    32      19     32  ...       32     32          32         32
Ice        24    24      11     24  ...       24     24          24         24
Normal     98    98      37     98  ...       98     98          98         98
Poison     28    28      13     28  ...       28     28          28         28
Psychic    57    57      19     57  ...       57     57          57         57
Rock       44    44      35     44  ...       44     44          44         44
Steel      27    27      22     27  ...       27     27          27         27
Water     112   112      53    112  ...      112    112         112        112

[18 rows x 12 columns]

In [78]:
df['count'] =1

df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [79]:
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64